arrow==0.14.7
caldav==0.8.0
certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
Flask==2.0.1
Flask-Cors==3.0.10
gunicorn==20.1.0
ics==0.7
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
ldap3==2.9.1
lxml==4.6.3
MarkupSafe==2.0.1
pyasn1==0.4.8
python-dateutil==2.8.2
python-dotenv==0.18.0
requests==2.26.0
six==1.16.0
TatSu==5.6.1
urllib3==1.26.6
vobject==0.9.6.1
Werkzeug==2.0.1
